<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="supermercado.app.economico">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:name="supermercado.app.economico.utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="supermercado.app.economico.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="supermercado.app.economico.activities.LoginActivity" />
        <activity android:name="supermercado.app.economico.activities.RegistrarseActivity" />
        <activity android:name="supermercado.app.economico.activities.AdministradorActivity" />
        <activity android:name="supermercado.app.economico.activities.VentasEspecificasActivity" />
        <activity android:name="supermercado.app.economico.activities.PerfilActivity" />
        <activity android:name="supermercado.app.economico.activities.VerProductoActivity" />
        <activity android:name="supermercado.app.economico.activities.CarritoActivity"></activity>
    </application>

</manifest>